/* body {
  width: 374px;
  height: 812px;
  background-color: #c4c4c4;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.recharts-surface {
  background-color: #c4c4c4;
  text-align: center;
  padding: 25px;
}

.recharts-wrapper {
  margin: auto;
  padding: 30px;
}

label{
  margin: 10px;
  border-radius: 5px;
  outline: none;
}

.sleep-wrap {
  padding: 50px;
}



