/* body {
  width: 374px;
  height: 812px;
  background-color: #c4c4c4;
} */

.App {
  
  padding: 20px;
  margin: 20px;
  position: absolute;;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.recharts-surface {
  background-color: #c4c4c4;
  padding: 60px;
  align-items: center;
  
} 

.recharts-cartesian-grid {
  padding: 20%;
}

.recharts-wrapper {
  margin: auto;
  padding: 85px;
}

label{
  margin: 10px;
  border-radius: 5px;
  outline: none;
}

.sleep-wrap {
  padding: 50px;
}

button   {
 cursor: pointer;
}

button:hover{
background-color: dodgerblue;
}


.btn-text-top {
  width: 90%;
  height: 28px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: auto;
  background-color: #4a3063;
  padding:5px;
  margin-top:10px;
  align-content: center;
  opacity: 0.75;
}
/* 
.btn-text-btm {
  width: 56px;
  height: 28px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin:auto;
} */
h1 {
 color: white;
  text-align: center;
  padding-top:20px;
  font-size: 50px;
}


.Ripple-parent {
align-items: center;
height: 30%;
background-color: #4a3063;
}

.all-btns{
  align-items: center;
  margin-left: 20%;
  margin-top:60px;
  width: 140px;
  height: 150px;
  opacity: 0.75;
  border-radius: 20px;
  text-align: center;
  /* background-color: #4a3063; */
  /* margin: 0px 0px 15px 15px; */
  padding:10px;
  position: relative;
  float: left;
  
}

img {
  width: 50px;
    height: auto;
    background-color: #4a3063;
}
