/* body {
  width: 374px;
  height: 812px;
  background-color: #c4c4c4;
} */

.App {
  text-align: center;
  padding: 20px;
  margin: 20px;;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.recharts-surface {
  background-color: #c4c4c4;
  padding: 60px;
  
}

.recharts-cartesian-grid {
  padding: 20%;
}

.recharts-wrapper {
  margin: auto;
  padding: 85px;
}

label{
  margin: 10px;
  border-radius: 5px;
  outline: none;
}

.sleep-wrap {
  padding: 50px;
}

button   {
  margin-top:60px;
  width: 140px;
  height: 150px;
  opacity: 0.75;
  border-radius: 20px;
  background-color: #4a3063;
}

.btn-text-top {
  width: 56px;
  height: 28px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: auto;
}

.btn-text-btm {
  width: 56px;
  height: 28px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin:auto;
}


